@media (min-width: 1200px) {
    .container-fluid {
        max-width: 95%;
    }
}

.chart {
    height: 700px;
}
@media (max-width: 767px) {
    .chart {
        height: 400px;
    }
}

.btn-mini {
    padding: 4px 6px;
    line-height: 1;
}

.glyphicon-lg {
    font-size: 16px;
}
