<!DOCTYPE html>
<html data-ng-app="xoApp">
<head>
    <title>SMS Cup Log</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/w2ui-1.2.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="css/xo.css" rel="stylesheet">

    <style>
        body { padding-top: 70px; }
        text.cuplbl {
                text-anchor: middle;
                dominant-baseline: central;
        }
        text.legendlbl {
            text-anchor: middle;
            dominant-baseline: central;
        }
        thead { display:block; margin:0px; cell-spacing:0px; left:0px; }
        #tbodyMC { display:block; overflow:auto; height:200px; }
        th { margin:0px; cell-spacing:0px;}
        td { margin:0px; cell-spacing:0px; max-width:200px; }
        #th1 { width:20px; }
        #th2 { width:100px; }
        #th3 { width:200px; }
    </style>
</head>
<body ng-controller="cupController">
<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/w2ui-1.2.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/sugar-1.3.9.min.js"></script>
<script src="js/d3.v3.min.js"></script>
<script src="js/colorbrewer.v1.min.js"></script>

<script src="js/app.js"></script></script>

<div class="container">
    <div class="col-md-2">
    <h4>Cup Type:</h4><p>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_quartz"> Quartz</label><br/>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_cal"> Cal</label><br/>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_mtbstfa"> MTBSTFA</label><br/>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_tmah"> TMAH</label><br/>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_deriv"> Deriv</label><br/>
    <label><input type="checkbox" ng-click="refresh()" ng-model="show_nocup"> None</label><br/>
<hr>
    <h4>Color By:</h4>
    <label><input type="radio" ng-model="colorby" value="kind"> Cup Type</label><br/>
    <label><input type="radio" ng-model="colorby" value="maxload"> Max Load</label><br/>
    <label><input type="radio" ng-model="colorby" value="numdrops"> Dropoffs</label><br/>
    <label><input type="radio" ng-model="colorby" value="sample"> Sample</label><br/>
<hr>
    <h4>Color Scale:</h4>
    <select ng-model="colorbrew">
        <option ng-repeat="cbname in colorbrews" 
            value="{{cbname}}" 
            title="{{cbname}}" 
            ng-selected="cbname == colorbrew">{{cbname}}
        </option>
    </select>
<hr>
    </div>

    <div class="col-md-4">
    <table>
    <tr>
        <td>As&nbsp;of&nbsp;TID:</td>
        <td><input ng-model="asofTID"></td>
    </tr>
    <tr>
        <td>As&nbsp;of&nbsp;Date:</td>
        <td><input ng-model="asofDate"></td>
    </tr>
    </table>
    <hr>
    <table>
        <tr>
        <td>Sample&nbsp;Filter: </td>
        <td><input ng-model="filter"></td>
        </tr>
    </table>
<hr>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Matching Cups</div>

    <!-- Table -->
    <table class="table">
        <tbody id="tbodyMC">
            <tr>
              <th id="th1" class="cupnum">#</th>
              <th id="th2">Max&nbsp;Load</th>
              <th id="th3">Sample</th>
            </tr>
            <tr>
              <td class="cupnum">1</td>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td class="cupnum">2</td>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td class="cupnum">3</td>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
            <tr>
              <td class="cupnum">1</td>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td class="cupnum">2</td>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
    <div id="sms" class="col-md-6">
    </div>
</div>

    <script type="text/javascript">

    // Draw SMS and cups in initial configuration
    // Show/hide/colorize dynamically referring to existing
    // SVG elements by id (e.g. #cup50, #cuplbl50)

    // Every variable here is a global
    // Interaction between Angular controller and d3
    //      operates through globals... (e.g. groupCups)
    // There must be a better way!
        var w = 500;
        var h = 500;
        
        var svg = d3.select("#sms")
            .append("svg")
            .attr("width", w)
            .attr("height", h);
            
        var xScale = d3.scale.linear().domain([-1.0,1.0]).range([0,w]);
        var yScale = d3.scale.linear().domain([-1.0,1.0]).range([h,0]);
        var x0 = w/2;
        var y0 = h/2;
        var sx = w/2.1; // add margin
        var sy = -h/2.1; // add margin
        var groupCups = svg.append("g")
            .attr("transform", "translate(" + xScale(0) + "," + yScale(0) + ") scale(" + sx + "," + sy + ")" );
         
        var ring = d3.svg.arc().innerRadius(0.75).outerRadius(1.0).startAngle(0).endAngle(6.284); // a hair over 2*pi
        groupCups.append("path")
            .style("fill", "bbbbbb")
            .attr("d", ring);
                    
        // Generate cup location data
        var cupRadius = 0.05;
        var inStartAngle = 2.044;
        var inCupRadius = 0.82;
        var inAngleStep = 0.156;
        var outAngleStep = 0.156;
        var outStartAngle = 1.971;
        var outCupRadius = 0.93;
        var fxCenInCup = function (cup) { return inCupRadius*Math.cos(inStartAngle + (cup-2)/2*inAngleStep); };
        var fyCenInCup = function (cup) { return inCupRadius*Math.sin(inStartAngle + (cup-2)/2*inAngleStep); };
        var fxCenOutCup = function (cup) { return outCupRadius*Math.cos(outStartAngle + (cup-1)/2*outAngleStep); };
        var fyCenOutCup = function (cup) { return outCupRadius*Math.sin(outStartAngle + (cup-1)/2*outAngleStep); };
        var fcupid = function (cup) { return "cup" + cup; };

        var cuploc = [];
        for ( var i = 1; i <= 74; i++ ) {
            var tmp = {};
            if ( i % 2 ) { // odd
                tmp.x = fxCenOutCup(i);
                tmp.y = fyCenOutCup(i);
            } else { // even
                tmp.x = fxCenInCup(i);
                tmp.y = fyCenInCup(i);
            }
            tmp.cup = i;
            cuploc.push(tmp);
        }
        
        // Draw cups
        var cups = groupCups.selectAll("circle")
            .data(cuploc)
            .enter()
            .append("circle");

        cups.attr("cx", function (d) { return d.x; })
            .attr("cy", function (d) { return d.y; })
            .attr("r", cupRadius)
            .attr("id", function (d) { return "cup" + d.cup; })
            .attr("fill", "gray")
            .classed("cup", true);
            
         // Draw cup labels
         var groupCupLabels = svg.append("g");

         var labels = groupCupLabels.selectAll("text")
            .data(cuploc)
            .enter()
            .append("text")
            .text(function (d) { return d.cup; })
            .attr("x", function (d) { return x0 + sx*d.x; })
            .attr("y", function (d) { return y0 + sy*d.y; })
            .attr("id", function (d) { return "cuplbl" + d.cup; })
            .classed("cuplbl", true);

        // Draw legend
        var legend = d3.select("#sms")
            .append("svg")
            .attr("width", w)
            .attr("height", 40);

        legend.selectAll("rect")
            .data(d3.range(0,9))
            .enter()
            .append("rect")
            .attr("id",  function (d) { return "legendBox" + d; })
            .attr("width", 30)
            .attr("height", 20)
            .attr("y", 20)
            .attr("x", function (d,i) { return i*30; })
            .attr("fill", "black")
            .style("visibility", "hidden");
 
         legend.selectAll("text")
            .data(d3.range(0,9))
            .enter()
            .append("text")
            .text( function (d) { return d; })
            .attr("x", function (d, i) { return 15 + i*30; })
            .attr("y", 10)
            .classed("legendlbl", true)
            .style("visibility", "hidden");

    </script>

</body>
</html>